name: Linting

on:
  push:
    branches:
      - main
    tags-ignore: ["**"]
  pull_request:

permissions:
  # Required: allow read access to the content for analysis.
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  pull-requests: read
  # Optional: allow write access to checks to allow the action to annotate code in the PR.
  checks: write
  security-events: write

jobs: # Docs: <https://git.io/JvxXE>
  golangci-lint:
    name: Golang-CI (lint)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with: { fetch-depth: 0 }
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.24"
          cache: false

      - name: Run linter
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
        with:
          version: v2.1 # without patch version
          only-new-issues: false # show only new issues if it's a pull request
          args: --timeout 4m # the default of 1m didn't suffice occasionally
